# **What is Machine Learning ?**

Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed. Machine learning focuses on the development of computer programs that can access data and use it to learn for themselves

## **Python Libraries for Machine Learning**

*   Pandas
*   Numpy

*   Scikit Learn
*   Matplotib


*   Seaborn

## **Pandas-**

Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.Relevant data is very important in data science. 

### **Command to install pandas-** pip install pandas

*   Open source

*   It is built nummpy library
*   Importing data and analyzing data easily

*   It is extremly fast library

## Basic actions of Pandas-



*   Dataframes

*   Pandas series
*   Read .csv file


*   Read JSON


*   Analyze data

### DataFrame-

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns. It has label axis(row,column).
### **Components of DataFrame-**

1. Row
2. Column
3. Data

## Creating DataFrame-

In [19]:
# Using List 
import pandas as pd
list=["Anurag","kashyap","Anupret","Mishra","Ankit","Rai"]
df=pd.DataFrame(list)
df

         0
0   Anurag
1  kashyap
2  Anupret
3   Mishra
4    Ankit
5      Rai

In [22]:
# Using Dictionary
dic={"Name":["Anurag","Ankit","Anupreet"],"Age":[18,17,22]}
df=pd.DataFrame(dic)
df

       Name  Age
0    Anurag   18
1     Ankit   17
2  Anupreet   22